.cart-wrapper {
  margin: 0 auto;
  max-width: 1024px;
}
.btn-wrapper {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
}
.total-amount-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 15px;
  font-weight: 700;
  font-size: 20px;
}
.empty-cart-text {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
}
